<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.luo.mybatisplus.mapper.AdminMapper">

    <select id="findByUserName" resultType="org.luo.mybatisplus.model.entity.Admin">
        select * from admin where username=#{userName}
    </select>
</mapper>
